<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Init"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProject"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBID2u6mvE7wRgQ_M4i7807HJgzeB5DX3Y" />

        <activity
            android:name=".MapView"
            android:exported="false"
            android:label="@string/title_activity_map_view" />

        <service
            android:name=".DoxxYourself"
            android:enabled="false"
            android:exported="false" />

        <activity
            android:name=".pages.travel_routes.TravelRoutes"
            android:exported="false" />
        <activity
            android:name=".pages.travel_routes.TRSearch"
            android:exported="false" />
        <activity
            android:name=".pages.misc.Startup"
            android:exported="false" />
        <activity
            android:name=".pages.misc.Login"
            android:exported="false"/>
        <activity
            android:name=".pages.misc.Register"
            android:exported="false" />
        <activity
            android:name=".pages.settings.Settings"
            android:exported="false" />
        <activity
            android:name=".pages.bus_times.BusTimes"
            android:exported="false" />
        <activity
            android:name=".pages.bookmarks.Bookmarks"
            android:exported="false" />
        <activity
            android:name=".pages.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>